@tailwind base;

html {
    @apply text-gray-800 antialiased leading-tight font-sans;
    font-size: 18px;
}

h1,h2,h3,h4,h5,a,span {
    font-family: "Ubuntu";
}

p, ol, ul {
    @apply leading-loose tracking-wider mb-6 font-light;
    font-family: "Ubuntu";
}

a {
    @apply font-light;
}

p a {
    @apply underline font-normal text-sm;
    font-family: "Roboto Slab";
}

p a:hover,
p a:hover span {
    @apply text-blue-500;
}

p a:visited {
    @apply text-gray-700;
}

h1 {
    @apply text-4xl tracking-tight;
}

h2 {
    @apply text-2xl pt-2 mb-2;
}

h3 {
    @apply text-lg text-gray-700 uppercase tracking-wider mb-2;
}

ul, ol {
    @apply ml-8 list-outside;
}

ul {
    @apply list-disc;
}

ol {
    @apply list-decimal;
}

ul li, ol li {
    @apply leading-normal mb-3 pl-4;
}

blockquote cite p {
    @apply mb-2 leading-tight text-gray-700;
}

.blog-post-body p {
    line-height: 2.75;
}


@tailwind components;
@tailwind utilities;