@tailwind base;

html {
    @apply bg-blue-900 text-gray-800 antialiased leading-tight font-sans;
    font-size: 18px;
}

h1,h2,h3,h4,h5,a,span,button {
    font-family: "Ubuntu";
}

p, ol, ul {
    @apply leading-loose tracking-wider mb-6;
    font-family: "Ubuntu";
}

.mono {
    font-family: "Ubuntu Mono";
}

.slab {
    font-family: "Roboto Slab";
}

a {
    @apply font-light;
}

p a {
    @apply underline font-normal;
}

p a:hover,
p a:hover span {
    @apply text-blue-500;
}

p a:visited {
    @apply text-gray-700;
}

h1 {
    @apply text-4xl tracking-tight;
}

h2 {
    @apply text-2xl pt-2 mb-2;
}

h3 {
    @apply text-lg text-gray-700 uppercase tracking-wider mt-8 mb-2;
}

ul, ol {
    @apply ml-8 list-outside;
}

ul {
    @apply list-disc;
}

ol {
    @apply list-decimal;
}

ul li, ol li {
    @apply leading-normal mb-3 pl-4;
}

blockquote cite p {
    @apply mb-2 leading-tight text-gray-700;
}

.bg-purple-to-dark {
    background-image: linear-gradient(135deg, #8989F5 0%, #260D96 100%);
}

.bg-teal-to-dark {
    background-image: linear-gradient(165.29deg, #91FDF2 0.03%, #0FB2B8 100.03%);
}

.bg-blue-to-dark {
    background-image: linear-gradient(315deg, #4825D4 0.05%, #81DEFD 100.05%);
}

.bg-teal-to-blue {
    background-image: linear-gradient(153.4deg, #62F4EA -0.08%, #4825D4 99.92%);
}

.button-shadow {
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1), -4px -8px 12px rgba(255, 255, 255, 0.08);
}

.blog-post-body p {
    line-height: 2.75;
}

@tailwind components;
@tailwind utilities;